@import 'tailwindcss';

:root {
  font-family: "Montserrat", serif;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e232b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-primary {
  background: #FFFFFF0D;
}
.bg-second-primary {
  background: #00000021;
}
.bg-page {
  background: #1e232b;
}